---
---

@import '{{ site.theme }}';

:root {
	--primary-color: oklch(0.25 0.04 236);
	--heading-color: rgb(9, 157, 220);
	--text: #333;
}

body {
	margin: 0;
	color: var(--text);
}

#theme-toggle {
	position: fixed;
	top: 16px;
	right: 16px;
	padding: 8px 12px;
	cursor: pointer;
	border-radius: 6px;
	color: var(--text);
	background: #f9f9f9;
	border: 1px solid #ccc;
}

button {
	padding: 0.5rem 0.75rem;
	background: #eee;
	border: 1px #aaa solid;
	border-radius: 6px;
	font-size: 0.9rem;
	font-weight: 600;
}

code {
	tab-size: 2.75rem;
}



select {
	padding: 0.5rem 0.75rem;
}

.copy-button {
	margin-left: auto;
	margin-right: 0;
	display: block;
	background-color: #f5f5f5;

}

.example {
	border: 1px solid #ddd;
	background-color: #fefefe;
	border-radius: 8px;
	padding: 16px;
	margin-bottom: 30px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.page-header {
	background-image: url(../favicon.svg) !important;
	background-repeat: no-repeat;
	background-size: 105px;
	background-color: var(--primary-color);
	background-position-y: 18px;
	background-position-x: calc(54% - 15rem);
	padding: 2.5rem 1rem;
	text-align: left;

	.project-name,
	.project-tagline {
		/* TITLE */
		color: #fff !important;
		padding: 0;
		text-align: left;
		margin: 0 0 0 calc(54% - 10rem) !important;
		text-shadow: 1px 0px #000;
	}
	.project-tagline {
		opacity: 0.85;
	}

	a {
		display: none;
	}
}

h1.project-name {
	font-size: 1.5rem;
}

h1,
h2,
h3,
h4,
h5 {
	color: var(--heading-color) !important;
	margin-top: 1.25rem !important;
}

a {
	text-decoration: underline !important;
}

.main-content table th,
.main-content table td {
	border: 1px solid #d8d9da;
}
.main-content code {
	background-color: #f3f9ff;
	color: var(--heading-color);
}

@media screen and (min-width: 72em) {
	.main-content {
		max-width: 72rem;
		padding: 2rem 6rem;
		margin: 0 auto;
		font-size: 1.05rem;
	}
}

.full-width {
	width: 100%;
}

html[data-theme='dark'] {
	#theme-toggle {
		background: #333;
		color: inherit;
		border-color: #333;
	}

	input, select, option {
		color: var(--text);
	}

	body {
		background: #121212;
		color: #eee;

		button {
			background-color: #333;
		}

		button,
		code {
			border: 1px solid #444;
		}

		button:hover {
			background-color: #4e7da7;
			cursor: pointer;
		}
	}

	.example {
		background: #1e1e1e;
		border-color:#333;
  		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	}

	.highlight, pre {
		background-color: #1a1a1a
	}
	pre {
		border-color: #333;
		background-color: #1a1a1a;
		code {
			border: none;
		}
	}
	
	.main-content code {
		background-color: #1a1a1a;
	}
}
