---
---

@import '{{ site.theme }}';

:root {
	--primary-color: oklch(0.25 0.04 236);
	--heading-color: rgb(9, 157, 220);
	--text: #333;

	--button-fg-color-light: oklch(0.99 0.004 236);
	--button-bg-color-light: oklch(0.4 0.14 236);
	--button-fg-color-dark: oklch(calc(0.55 + 0.25) calc(0.14 - 0.06) 236);
	--button-bg-color-dark: oklch(0.25 0.04 236);
	--button-hover-light: oklch(0.55 0.14 236);
	--button-hover-dark: oklch(calc(0.55 + 0.25) calc(0.14 - 0.06) 236);
}

body {
	margin: 0;
	color: var(--text);
}

#theme-toggle {
	position: fixed;
	top: 16px;
	right: 16px;
	padding: 8px 12px;
	cursor: pointer;
	border-radius: 6px;
	border: 1px solid #888;
}

button {
	padding: 0.5rem 0.75rem;
	color: var(--button-fg-color-light);
	background: var(--button-bg-color-light);
	border-radius: 6px;
	font-size: 0.9rem;
	font-weight: 600;
	border: none;
	cursor: pointer;
}

button:hover {
	background: var(--button-hover-light);
}

code {
	tab-size: 2.75rem;
}



select {
	padding: 0.5rem 0.75rem;
}

.copy-button {
	margin-left: auto;
	margin-right: 0;
	display: block;
}

.example {
	border: 1px solid #ddd;
	background-color: #fefefe;
	border-radius: 8px;
	padding: 16px;
	margin-bottom: 30px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	overflow-x: hidden;
}

.page-header {
	background-image: none;
	background-color: var(--primary-color);
	padding: 2.1rem 1rem;
}

.page-header-content {
	display: flex;	
	justify-content: center;
  	align-items: center;
	text-align: left;
	gap: 1.6rem;

	.page-logo {
		width: 110px;
	}

	.page-title-container {
		margin-bottom: 7px;
	}

	.project-name {
		font-size: 1.5rem;
	}

	.project-tagline {
		opacity: 0.85;
	}

	.project-name, .project-tagline {
		color: #fff !important;
		padding: 0;
		text-shadow: 1px 0px #000;
		margin-top: 4px !important;
		margin-bottom: 4px !important;
		
	}
}


h1,
h2,
h3,
h4,
h5 {
	color: var(--heading-color) !important;
	margin-top: 1.25rem !important;
}

a {
	text-decoration: underline !important;
}

.main-content table th,
.main-content table td {
	border: 1px solid #d8d9da;
}
.main-content code {
	background-color: #f3f9ff;
	color: var(--heading-color);
}

@media screen and (min-width: 72em) {
	.main-content {
		max-width: 72rem;
		padding: 2rem 6rem;
		margin: 0 auto;
		font-size: 1.05rem;
	}
}

@media screen and (max-width: 768px) {
	.sm {
		display: inherit;
	}
	
	.md {
		display: none;
	}
}


@media screen and (min-width: 768px) {
	.sm {
		display: none;
	}
	
	.md {
		display: inherit;
	}
}

@media screen and (min-width: 360px) {
	.page-header-content {
		gap: 1.25rem;
	
		.page-logo {
			width: 80px;
		}

		.page-title-container {
			margin-bottom: 3px;
		}

		.project-name {
			font-size: 1.25rem;
		}

		.project-tagline {
			opacity: 0.85;
		}

		.project-name, .project-tagline {
			color: #fff !important;
			padding: 0;
			text-shadow: 1px 0px #000;
			margin-top: 4px !important;
			margin-bottom: 4px !important;
			
		}
	}
}

html[data-theme='dark'] {
	#theme-toggle {
		color: inherit;
		border-color: #555;
	}

	input, select, option {
		color: var(--text);
	}

	body {
		background: #121212;
		color: #eee;

		button {
			color: var(--button-fg-color-light);
			background: var(--button-bg-color-dark);
		}

		button, code {
			border: 1px solid #444;
		}

	}

	button:hover {
		background: var(--button-hover-dark);
		border-color: var(--button-hover-dark);
	}

	.example {
		background: #1e1e1e;
		border-color:#333;
  		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	}

	.highlight, pre {
		background-color: #1a1a1a
	}
	pre {
		border-color: #333;
		background-color: #1a1a1a;
		code {
			border: none;
		}
	}
	
	.main-content code {
		background-color: #1a1a1a;
	}
}
